[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "pg_stage"
version = "0.1.9"
authors = [
  { name="froOzzy", email="ieme5gll6u78@mail.ru" },
]
description = "Anonymization of data in pg_dump"
readme = "README.md"
requires-python = ">=3.9"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = ["Faker >= 16.6.0"]

[project.urls]
"Homepage" = "https://github.com/froOzzy/pg_stage"

[tool.black]
line-length = 120
target-version = ["py39"]
include = '\.pyi?$'
skip-string-normalization = true
